# ### .gitignore ###
# .cache/
# .gitOLD/
# .gnupg/
# .local/
# .mozilla/
# .pki/
# .ssh/
# .steam/
# .thunderbird/
# .var/
# Bilder/
# Dokumente/
# Downloads/
# Musik/
# Öffentlich/
# Schreibtisch/
# Videos/
# Vorlagen/
# yay/

# .bash_history
# .bash_logout
# .bash_profile
# .pulse-cookie
# .shell.pre-oh-my-zsh
# .spaceshiprc.zsh
# .spaceshiprc.zsh.zwc
# .steampath
# .steampid
# .wget-hsts
# .zcompdump-archlinux-5.9
# .zcompdump-archlinux-5.9.zwc.zsh_history
# undefined.bak

## ignore everything 
*

## track gitigonre
!.gitignore

## exclude ignore for configuration files
### folders
!.docs/
!.config/fastfetch/
!.config/forge/
!.config/kitty/
!.config/OpenRGB/
!.config/rofi/
!.config/zsh/
!.oh-my-zsh/
!.icons/
!.themes/
!.vscode/
!yay/

### files
!README.md
!.zshrc
!.bashrc
