### .gitignore ###

## ignore everything 
*

## track git
!.gitignore
!.gitconfig

## exclude ignore for configuration files
### folders
!.config/fastfetch/
!.config/forge/
!.config/kitty/
!.config/OpenRGB/
!.config/rofi/
!.config/zsh/
!.docs/
!.icons/
!.oh-my-zsh/
!.themes/
!.vscode/
!.zsh/

### files
!README.md
!.zshrc
!.bashrc
!.p10k.zsh
!.spaceshiprc.zsh
!.spaceshiprc.zsh.zwc
!.zshrc
